.card {
    perspective: 500px;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}

.card_izquierda {
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

.card_derecha {
    transform: translateZ(10px) rotateX(-20deg) rotateY(20deg);
}