body{
    margin: 0px;
    padding: 0px;
}
/*header*/
.logo-buscador-pequenio{
    display: none;
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
/* menu perfil */
.menu-perfil{
    top: 29px;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondaryColor);
    width:  250px;
    height: 300px;
    border-bottom-left-radius: 25px;
    position: fixed;
    right: 0px;
    z-index: 2;
}
.header-perfil{
    width: 100%;
    height: 15%;
    border-bottom: 2px solid var(--blancotransparente46);
}
    .titulo-perfil{
        margin: 0;
        padding: 0;
        font-size: 10px;
        letter-spacing: 0.5px;
        margin-left: 20px;
        color: var(--blancotransparente46);
        font-family: 'Roboto',sans-serif;
        font-weight: 100;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .username-perfil{
        margin: 0;
        padding: 0;
        font-size: 15px;
        letter-spacing: 0.5px;
        margin-left: 20px;
        text-transform: capitalize;
        font-family: 'Roboto',sans-serif;
        font-weight: 100;
    }
    .body-perfil{
        width: 70%;
        height: 100%;
    }
    .seccion-perfil{
        display: flex;
        align-items: center;
        height: 25%;
        border-bottom: 2px solid var(--blancotransparente46);
        
    }
    .seccion-perfil p{
            margin: 0;
            padding: 0;
            font-size: 20px;
            text-transform: capitalize;
            font-family: 'Open Sans';
            font-weight: 600;
            margin-left: 8px;
        }
/*menu carrito*/
.menu-carrito{
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--accentColor);
    right: 0px;
    width:  257px;
    height: 400px;
    top: 70px;
    position: fixed;
    z-index: 2;
    background-color: var(--secondaryColor);
}
.cruz-carrito{
    width: 25px;
    margin-left: 25px;

}
.header-carrito{
    padding: 0;
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    /* background-color: aliceblue; */
}
.etiqueta-en-carrito{
    margin: 0;
    height: 100%;
    width: 30%;
    /* background-color: black; */
}
    .Etiqueta-Menu-Carrito img{
        width: auto;
        height: auto;
        margin-left: 1px;
        margin-bottom: 3px;
    }
    .Etiqueta-Menu-Carrito{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 45px;
        background-color: var(--accentColor);
        position:absolute;
        margin-left: 20px;
        margin-bottom: 20px;
        box-shadow: var(--elevacion);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .titulo-carrito{
        text-transform: capitalize;
        height: 60%;
        font-size: 30px;
        margin-left: 5px;
    }

.juego-en-carrito{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
    border-bottom: 2px solid var(--blancotransparente46);
}
    .img-en-carrito{
        margin: 10px;
        width: 60px;
    }
    .titulo-boton-carrito-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .titulo-boton-carrito-container img{
        width: 20px;
    }
    .titulo-boton-carrito-container h3{
        margin: 0;
        margin-bottom: 3px;
        padding: 0;
        color: var(--primaryColor);
        text-transform: capitalize;
    }
    .span-eliminar{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: rgb(183, 5, 5);
    }
    .precio-en-carrito{
        width: 55px;
        margin: auto;
    }

.footer-carrito{
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: #333338;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.footer-carrito div{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
}
.footer-carrito h3{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.footer-carrito button{
    width: 70%;
    padding-top: 8px;
    padding-bottom: 8px;
}
.boton-carrito p{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.boton-carrito:hover p{
    color: var(--accentColor);
}
body{
    margin: 0px;
    padding: 0px;
}


/*iconos*/
.iconoLogoGrande{
    width: 330px;
    height: auto; 
    margin-bottom: 100px;
    margin-left: 120px;
}
.iconoLogoChico{
    display: none;
    width: 75px;
    margin-top: 10px;
}
.iconoLogoChicoIzquierda{
    display: flex;
    width: 75px;
    margin-top: 10px;
}
.iconoHamburguesa{
    width: 25px;
    margin: 20px;
}
.iconoBuscador{
    display: flex;
    margin-top: 7px;
}
.iconoCarrito{
    width: 35px;
    margin-bottom: 2px;
}
.iconoUser{
    width: 40px;
}
.iconoGoogle{
    margin:3px;
    width: 20px;
    height: auto;
}
.iconoFacebook{
    filter: brightness(0) invert(1);
}
.icon-ScrollButton{
    width: 20px;
}
.logo-buscador-pequenio{
    width: 28px;
}

/*botones*/

.boton-Mediano{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}
.boton-pequenio{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.boton-card{
    padding: 0;
}
.boton-mas-jugados{
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    width: 14%;
    margin-bottom: 20px;
    bottom: 40px;
    left: 43%;
    font-size: 25px;
    text-transform: capitalize;
    border-radius: 30px;
}

.socalo-Destacada .boton-jugar-Destacados{
    display: flex;
    align-items: center;
    height: 35px;
}
.contenedor-nombre-juego button{
    display: flex;
    background-color: unset;
    border: 0;
    color: white;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 10px;
    margin-top: 2px;
}
.gameWeek-btn-back{
    background-color: unset;
    border: 0px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 54%;
    left: 7px;
    z-index: 1;
}
.gameWeek-btn-next{
    background-color: unset;
    border: 0px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    right: 7px;
    top: 54%;
}
.btn-back-slider{
    position: absolute;
    background-color: unset;
    top: 39%;
    border: 0px;
    left: 10px;
    z-index: 1;
}
.btn-next-slider{
    background-color: unset;
    border: 0px;
    position: absolute;
    top: 39%;
    right: 10px;
    z-index: 1;
}
.iconoScroll{
    visibility: hidden;
}
/*texto*/
.textoUsuario{
    display: flex;
    margin-right: 5px;
    margin-left: 10px;
}
.texto-pequenio{
    width: auto;
    font-size: 10px;
    margin-top: 0px;
}
.titulosSecciones{
    font-size: 25px;
    display: flex;
    justify-content: start;
    text-transform: capitalize;
    margin-left: 15px;
    margin-bottom: 5px;
}
.titulo-recomendado{
    width: 70%;
    text-transform: uppercase;
    padding-left: 30px;
}
.nombre-card-secuandaria{
    padding-top: 12px;
    max-height: 20px;
    margin-top: 8px;
    margin-left: 10px;
    width: 60px;
    font-family: "open-sans", Arial, Helvetica, sans-serif;
    max-width: 60px;
    max-height: 22px;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nombre-card-secundaria:after {
    content: '...'; /* Agrega los tres puntos al final */
  }
.contenedor-nombre-juego{
    max-width: 75px;
    max-height: 22px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/*card*/
.card-secundaria{
    display: flex;
    margin: 11px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    width: 220px;
    height: 220px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: var(--elevacion);
    transition: border 0.15s;
}
.imagen-card-secundaria{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
    height: 95%; /* Hace que las imágenes ocupen la altura completa del contenedor */
    margin-top: 4px;
    object-fit: cover;
}
.socalo-secundario{
    background-color: var(--primaryColor);
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25%;
}
.socalo-secundario .boton-pequenio{
    width: 30%;
}
.card-mis-juegos{
    border: 2px solid transparent;
    margin: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    width: 220px;
    height: 275px;
    border-radius: 45px;
    box-shadow: var(--elevacion);
    transition: border 0.15s;
}
.card-Destacadas{
    margin: 11px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    width: 220px;
    height: 275px;
    box-shadow: var(--elevacion);
    transition: border 0.15s;
}
.card-mis-juegos:hover{
    border: 2px solid var(--accentColor);
}
.imagen-card-mis-juegos{
    width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
    height: 100%; /* Hace que las imágenes ocupen la altura completa del contenedor */
    object-fit: cover;
    border-radius: 45px;
}
.imagen-card-Destacadas{
    width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
    height: 100%; /* Hace que las imágenes ocupen la altura completa del contenedor */
    object-fit: cover;
    
}
.gradiente{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, rgba(133, 3, 171, 0.92) 8.85%, rgba(110, 3, 187, 0.00) 51.56%);
    width: 100%;
    height: 100%;
}
.socalo-Destacada{
    background:  #6E03BB ;
    width: 100%;
    height: 23%;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*banner*/
.anuncio-banner{
    width: 100%;
    height: 100px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
   
}
.anuncio-banner img{
    width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
    height: 100%; /* Hace que las imágenes ocupen la altura completa del contenedor */
    object-fit: cover;
}
/*contenido*/
.container-recomendados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.recomendados{
    background-color: var(--secondaryColor);
    width: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow:  3.40995px 3.40995px 5.11492px 1px rgba(0, 0, 0, 0.589);
}
.content{
    flex-direction: column;
    height: auto;
}
.container-slider{
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.mas-jugados{
    height: auto;
    width: 100%;
    position: relative;
}
.carrusel-tus-juegos{
    display: flex;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}
.carrusel-destacados{
    display:flex;
    background-color: red;
}
.carrusel-comunes{
    display: flex;
    background-color: green;
}
.puntitos-mas-jugados{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.puntito-slider{
    width: 16px;
    height: 8px; 
}
.carrusel-container{
    position: relative;
}

.recomendados{
    margin-bottom: 15px;
}
.Etiqueta-Carrito{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
    background-color: var(--accentColor);
    position:absolute;
    margin-left: 155px;
    margin-bottom: 20px;
    box-shadow: var(--elevacion);
    border-bottom-left-radius: 10px;
}
.logo-carrito-violeta-etiqueta{
    width: 30px;
    height: 30px;
    
}
.Etiqueta-Carrito-free{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
    background-color: var(--secondaryColor);
    position:absolute;
    margin-left: 155px;
    margin-bottom: 20px;
    box-shadow: var(--elevacion);
    border-bottom-left-radius: 10px;
    border: 1.5px solid var(--accentColor);
}
.icono-free-etiqueta{
    width: 30px;
    height: 30px;
}
.free{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primaryColor);
    width: 26px;
    height: 26px;
    border-radius: 3px;
}
.textofree{
    font-size: 7px;
    letter-spacing: 0.7px;
}
.seccion-Recomendados{
   display: flex;
   justify-content: space-evenly;
   align-items: start;

}
.Descripcion-Recomendados{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.header-recomendados{
    padding: 10px;
    display: flex;
    align-items: center;
    height: 60px;
}
.header-recomendados button{
    width: 30%;
    height: 70%;
}
.texto-descripcion-recomendados{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* poner los 3 puntitos */
}

.slider{
    display: flex;
    width: 300%;
    transition: transform 0.5s ease; 
}

.slide{
    width: 33.33%;
    height: 470px;
}

.img-slide{
    width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
    height: 95%; /* Hace que las imágenes ocupen la altura completa del contenedor */
    object-fit: cover;
}



.mas-jugados h2{
    position: absolute;
    text-transform: capitalize;
    font-size: 40px;
    bottom: 40px;
    width: 35%;
    color: var(--secondaryColor);
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 40%;
}

@media (max-width: 1024px){
    /* menu perfil */
    .menu-perfil{
        flex-direction: column;
        align-items: center;
        background-color: var(--secondaryColor);
        width:  220px;
        height: 300px;
        border-bottom-left-radius: 25px;
        position: fixed;
        right: 0px;
        z-index: 2;
    }
    .header-perfil{
        width: 100%;
        height: 15%;
        border-bottom: 2px solid var(--blancotransparente46);
    }
        .titulo-perfil{
            margin: 0;
            padding: 0;
            font-size: 10px;
            letter-spacing: 0.5px;
            margin-left: 20px;
            color: var(--blancotransparente46);
            font-family: 'Roboto',sans-serif;
            font-weight: 100;
            margin-top: 3px;
            margin-bottom: 3px;
        }
        .username-perfil{
            margin: 0;
            padding: 0;
            font-size: 15px;
            letter-spacing: 0.5px;
            margin-left: 20px;
            text-transform: capitalize;
            font-family: 'Roboto',sans-serif;
            font-weight: 100;
        }
        .body-perfil{
            width: 70%;
            height: 100%;
        }
        .seccion-perfil{
            display: flex;
            align-items: center;
            height: 25%;
            border-bottom: 2px solid var(--blancotransparente46);
            
        }
        .seccion-perfil p{
                margin: 0;
                padding: 0;
                font-size: 20px;
                text-transform: capitalize;
                font-family: 'Open Sans';
                font-weight: 600;
                margin-left: 8px;
            }
    /*menu carrito*/
    .menu-carrito{
        flex-direction: column;
        border-radius: 20px;
        border: 3px solid var(--accentColor);
        right: 0px;
        width:  230px;
        height: 400px;
        top: 80px;
        position: fixed;
        z-index: 2;
        background-color: var(--secondaryColor);
    }
    .cruz-carrito{
        width: 25px;
        margin-left: 25px;

    }
    .header-carrito{
        padding: 0;
        display: flex;
        width: 100%;
        height: 15%;
        align-items: center;
        /* background-color: aliceblue; */
    }
    .etiqueta-en-carrito{
        margin: 0;
        height: 100%;
        width: 30%;
        /* background-color: black; */
    }
        .Etiqueta-Menu-Carrito img{
            width: auto;
            height: auto;
            margin-left: 1px;
            margin-bottom: 3px;
        }

        .titulo-carrito{
            text-transform: capitalize;
            height: 60%;
            font-size: 30px;
            margin-left: 5px;
        }

    .juego-en-carrito{
        display: flex;
        align-items: center;
        width: 100%;
        height: 20%;
        /* background-color: yellow; */
        border-bottom: 2px solid var(--blancotransparente46);
    }
        .img-en-carrito{
            margin: 10px;
            width: 60px;
        }
        .titulo-boton-carrito-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .titulo-boton-carrito-container img{
            width: 20px;
        }
        .titulo-boton-carrito-container h3{
            margin: 0;
            margin-bottom: 3px;
            padding: 0;
            color: var(--primaryColor);
            text-transform: capitalize;
        }
        .span-eliminar{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            color: rgb(183, 5, 5);
        }
        .precio-en-carrito{
            width: 55px;
            margin: auto;
        }

    .footer-carrito{
        width: 100%;
        height: 24%;
        display: flex;
        flex-direction: column;    
        align-items: center;
        background-color: #333338;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .footer-carrito div{
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: space-evenly;
    }
    .footer-carrito h3{
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-size: 22px;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
    .footer-carrito button{
        width: 70%;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .boton-carrito p{
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
    .boton-carrito:hover p{
        color: var(--accentColor);
    }
    body{
        margin: 0px;
        padding: 0px;
    }
    /*header*/
    .header{
        display: flex;
        margin: 0px;
        text-align: center;
        height: 80px;
        background-color: var(--secondaryColor);
        position: fixed;
        width: 100%;
        top: 0%;
    }
    .headIzquierda{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
    }
    .headCentro{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }
    .headDerecha{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
    }
    /*footer*/
    .footer{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin: 0px;
        padding-bottom: 20px;
    }
    .enlacesFooter{
        width: 42%;
        height: 250px;
    }
    .contactoFooter{
        width: 42%;
        
    }
    .categoriaFooter{
        width: 42%;
        
    }
    .mensajesFooter{
        width: 42%;   
    }
    .titulosFooter{
        font-size: 15px;
    }
    .link-footer{
        font-size: 10px;
    }
    a.link-footer{
        padding-top: 2.5px;
    }
    .caja-inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .categoria{
        margin-left: 32px;
    }


    /*iconos*/
    .iconoLogoGrande{
        width: 330px;
        height: auto; 
        margin-bottom: 100px;
        margin-left: 120px;
    }
    .iconoLogoChico{
        display: flex;
        width: 75px;
        margin-top: 10px;
    }
    .iconoLogoChicoIzquierda{
        display: none;
    }
    .iconoHamburguesa{
        width: 25px;
        margin: 20px;
    }
    .iconoBuscador{
        display: none;
        margin-top: 7px;
    }
    .iconoCarrito{
        width: 35px;
        margin-bottom: 2px;
    }
    .iconoUser{
        width: 40px;
    }
    .iconoGoogle{
        margin:3px;
        width: 20px;
        height: auto;
    }
    .iconoFacebook{
        filter: brightness(0) invert(1);
    }
    .icon-ScrollButton{
        width: 12px;
    }
    .iconoFooter{
        width: 15px;
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .logo-buscador-pequenio{
        display: flex;
        width: 28px;
    }

    /*botones*/
    .boton-enviar-mensaje{
        margin-left: 70px;
    }
    .boton-Mediano{
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
    }
    .boton-pequenio{
        margin-right: 10px;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 15px;
    }
    .boton-card{
        padding: 0;
    }
    .boton-mas-jugados{
        padding-top: 5px;
        padding-bottom: 5px;
        position: absolute;
        width: 14%;
        margin-bottom: 20px;
        bottom: 23px;
        left: 43%;
    }
    .socalo-Destacada .boton-jugar-Destacados{
        display: flex;
        align-items: center;
        height: 20px;
    }
    .contenedor-nombre-juego button{
        display: flex;
        background-color: unset;
        border: 0;
        color: white;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 10px;
        margin-top: 2px;
    }
    .gameWeek-btn-back{
        background-color: unset;
        border: 0px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 58%;
        z-index: 1;
    }
    .gameWeek-btn-next{
        background-color: unset;
        border: 0px;
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 1;
        right: 0px;
        top: 58%;
    }
    .btn-back-slider{
        position: absolute;
        background-color: unset;
        top: 42%;
        border: 0px;
        left: 0px;
        z-index: 1;
    }
    .btn-next-slider{
        background-color: unset;
        border: 0px;
        position: absolute;
        top: 42%;
        right: 0px;
        z-index: 1;
    }
    .iconoScroll{
        visibility: hidden;
    }
    /*texto*/
    .textoUsuario{
        display: none;
    }
    .texto-pequenio{
        font-size: 10px;
        margin-top: 0px;
    }
    .titulosSecciones{
        font-size: 20px;
        display: flex;
        justify-content: center;
        text-transform: capitalize;
    }
    .titulo-recomendado{
        width: 60%;
        text-transform: uppercase;
        padding-left: 30px;
    }
    .nombre-card-secuandaria{
        padding-top: 12px;
        max-height: 20px;
        margin-top: 8px;
        margin-left: 10px;
        width: 60px;
        font-family: "open-sans", Arial, Helvetica, sans-serif;
        max-width: 60px;
        max-height: 22px;
        height: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .nombre-card-secundaria:after {
        content: '...'; /* Agrega los tres puntos al final */
      }
    .contenedor-nombre-juego{
        max-width: 75px;
        max-height: 22px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .textoBotones{
        font-size: 10px;
        font-family:'open sans';
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 3px;
        justify-content: center;
        height: 23px;
        letter-spacing: 1.4px;
        transition: background-color 0.4s; 
    }
    /*card*/
    .card-secundaria{
        display: flex;
        margin: 12px;
        position: relative;
        width: 120px;
        height: 122px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: var(--elevacion);
        transition: border 0.15s;
    }
    .imagen-card-secundaria{
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
        height: 95%; /* Hace que las imágenes ocupen la altura completa del contenedor */
        margin-top: 4px;
        object-fit: cover;
    }
    .socalo-secundario{
        background-color: var(--primaryColor);
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: end;
        align-items: center;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 25%;
    }
    .socalo-secundario .boton-pequenio{
        width: 30%;
    }
    .card-mis-juegos{
        border: 2px solid transparent ;
        margin: 12px;
        position: relative;
        width: 120px;
        height: 155px;
        border-radius: 25px;
        box-shadow: var(--elevacion);
        transition: border 0.15s;
    }
    .card-Destacadas{
        margin: 12px;
        position: relative;
        width: 120px;
        height: 155px;
        box-shadow: var(--elevacion);
        transition: border 0.15s;
    }
    .card-mis-juegos:hover{
        border: 2px solid var(--accentColor);
    }
    .imagen-card-mis-juegos{
        width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
        height: 100%; /* Hace que las imágenes ocupen la altura completa del contenedor */
        object-fit: cover;
        border-radius: 25px;
    }
    .imagen-card-Destacadas{
        width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
        height: 100%; /* Hace que las imágenes ocupen la altura completa del contenedor */
        object-fit: cover;
        
    }
    .gradiente{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        position: absolute;
        top: 0;
        background: linear-gradient(90deg, rgba(133, 3, 171, 0.92) 8.85%, rgba(110, 3, 187, 0.00) 51.56%);
        width: 100%;
        height: 100%;
    }
    .socalo-Destacada{
        background:  #6E03BB ;
        width: 100%;
        height: 23%;
        position: absolute;
        bottom: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*banner*/
    .anuncio-banner{
        width: 100%;
        height: 70px;
        margin: 0;
        margin-bottom: 20px;
        margin-top: 0px;
        
    }
    .anuncio-banner img{
        width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
        height: 100%; /* Hace que las imágenes ocupen la altura completa del contenedor */
        object-fit: cover;
    }
    /*contenido*/
    .container-recomendados{
        display: flex;
        flex-direction: column;
    }
    .content{
        flex-direction: column;
        height: auto;
    }
    .container-slider{
        position: relative;
        height: auto;
        width: 100%;
        overflow: hidden;
    }
    .mas-jugados{
        height: auto;
        width: 100%;
        position: relative;
    }
    .carrusel-tus-juegos{
        display: flex;
        height: auto;
        max-width: 100%;
        overflow: hidden;
    }
    .carrusel-destacados{
        display:flex;
        background-color: red;
    }
    .carrusel-comunes{
        display: flex;
        background-color: green;
    }
    .puntitos-mas-jugados{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 20px;
    }
    .puntito-slider{
        width: 16px;
        height: 8px; 
    }
    .carrusel-container{
        position: relative;
    }

    .recomendados{
        background-color: var(--secondaryColor);
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        box-shadow:  3.40995px 3.40995px 5.11492px 1px rgba(0, 0, 0, 0.589);
    }
    .Etiqueta-Carrito{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 30px;
        background-color: var(--accentColor);
        position:absolute;
        margin-left: 80px;
        margin-bottom: 20px;
        box-shadow: var(--elevacion);
        border-bottom-left-radius: 10px;
    }
    .Etiqueta-Menu-Carrito{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 45px;
        background-color: var(--accentColor);
        position:absolute;
        margin-left: 20px;
        margin-bottom: 20px;
        box-shadow: var(--elevacion);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .logo-carrito-violeta-etiqueta{
        width: 20px;
        height: 20px;
        
    }
    .Etiqueta-Carrito-free{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 30px;
        background-color: var(--secondaryColor);
        position:absolute;
        margin-left: 80px;
        margin-bottom: 20px;
        box-shadow: var(--elevacion);
        border-bottom-left-radius: 10px;
        border: 1.5px solid var(--accentColor);
    }
    .icono-free-etiqueta{
        width: 20px;
        height: 20px;
    }
    .free{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--primaryColor);
        width: 20px;
        height: 18px;
        border-radius: 3px;
    }
    .textofree{
        font-size: 7px;
        letter-spacing: 0.7px;
    }
    .seccion-Recomendados{
       display: flex;
       justify-content: space-evenly;
       align-items: start;

    }
    .Descripcion-Recomendados{
        display: flex;
        flex-direction: column;
        width: 60%;
    }
    .header-recomendados{
        padding: 10px;
        display: flex;
        align-items: center;
        height: 40px;
    }
    .header-recomendados button{
        width: 30%;
    }
    .texto-descripcion-recomendados{
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        max-height: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
        /* poner los 3 puntitos */
    }

    .slider{
        display: flex;
        width: 300%;
        transition: transform 0.5s ease; 
    }

    .slide{
        width: 33.3%;
        height: 300px;
    }

    .img-slide{
        width: 100%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
        height: 95%; /* Hace que las imágenes ocupen la altura completa del contenedor */
        object-fit: cover;
    }
    
    
    
    .mas-jugados h2{
        position: absolute;
        font-size: 20px;
        bottom: 23px;
        width: 35%;
        color: var(--secondaryColor);
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 40%;
    }
}
