.content-juego{
    border:1px solid black;
}
.content-juego{
    display: flex;
}
.Titulo{
    width: 100%;
}
.Ventana-Juego{
    width: 50%;
}
.img-4enlinea{
    width: 100%;
    height: 100%;
}
.instrucciones-4enlinea{
    background-color: var(--secondaryColor);
    border-radius: 4%;
}