*{
  margin: 0px;
  padding: 0px;
}
body{
  overflow-x: hidden;
}
.conbody{
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.container{
  position: relative;
  margin: 0px;
  padding: 0px;
}
.contenidoSeccionDos{
  position: relative;
  top: 1100px;
  width: 1080px;
  /* background-color: yellow; */
  height: auto;
}
.contenidoSeccionTres{
  position: relative;
  top: 1620px;
  width: 1080px;
  /* background-color: yellow; */
  height: auto;
}
.contenidoSeccionCuatro{
  position: relative;
  top: 1630px;
  left: -55px;
  width: 1080px;
  height: auto;
}
.contenidoSeccionCinco{
  position: relative;
  top: 2530px;
  width: 1080px;
  /* background-color: yellow; */
  height: auto;
}
.contenidoSeccionSeis{
  position: relative;
  top: 2600px;
  width: 1080px;
  /* background-color: yellow; */
  height: 2000px;
  overflow: auto;
}
.bloqueSeccionSeis{
  display: flex;
  margin-top: 90px;
  margin-bottom: 140px;
  margin-left: 570px;
  /* background-color: #8F6AA6; */
}
/* .bloqueSeccionSeis img{
  width: 552px;
  height: 302px;
} */
.imgsSeccionSeis{
  position: absolute;
  top: 300px;
  width: 552px;
  height: 302px;
  transform: translate(0, -50%);
  /* transition:  top 0.8s; */
}
.textoSeccionSeis{
  display: flex;
  flex-direction: column;
}
.textoSeccionSeis h3{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 5px;
  color: #000;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 37.8px */
}
.textoSeccionSeis p{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 50px;
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 18.9px */
}

.contenidoSeccionSiete{
  position: relative;
  top: 2600px;
  width: 1080px;
  /* background-color: yellow; */
  height: 300px;
}
.contenidoSeccionOcho{
  position: relative;
  top: 2750px;
  width: 1080px;
  /* background-color: yellow; */
  height: 300px;
}
.contenidoSeccionNueve{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 3050px;
  width: 1080px;
  /* background-color: rgb(78, 78, 45); */
  height: 1200px;
}
.barraSuscribirse{
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 780px;
  height: 100px;
}
.tituloSeccionNueve{
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%; /* 56.7px */
  
  width: 816px;
  margin-top: 70px;
}
.contenidoSeccionNueve p{
  width: 578px;
  margin: 0;
  margin-bottom: 40px;
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 18.9px */
}
.subrayado{
  text-decoration-line: underline;
}
.logoTeen{
  position: absolute;
  left: 250px;
  top: 550px;
}

.contenidoSeccionSiete h2{
  /* background-color: aqua; */
  width: 816px;
  margin-top: 40px;
  color: #FFF;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contenidoSeccionSiete img{
  margin-top: 40px;
}

.contenidoSeccionCinco h2{
  width: 465px;
  height: 171px;
  /* background-color: #8F6AA6; */
  font-size: 55px;
  font-family: Lato;
  color: white;
  margin-bottom: 70px;
}
.paralaxSeccionCinco{
  width: 1080px;
  height: 527px;
  position: relative;
}
.capaDosSeccionCinco{

}
.hulk{
  position: absolute;
  right: -60px;
  top: 95px;
}
.capaTresSeccionCinco{
  
}
.elastiGirl{
  position: absolute;
  top: -90px;
}
.ninjaNegro{
  position: absolute;
  left: 435px;
  top: -250px;
}
.capasSeccionCinco{
  position: absolute;
}
.bloquesSeccionTres{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.textoSeccionTres{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.bloqueTextoSeccionTres{
  width: 333px;
  height: 218px;
  font-size: 20px;
  font-family: Lato;
}
.contenidoSeccionUno{
  /* overflow: visible;  */
  transform: translate(0, 0%);
  transition: top 0.8;
  position: relative;
  width: 1080px;
  background-color: rgb(255, 119, 0);
  height: auto;
}
.cardSuperiorSpiderGirl{
  position: absolute;
}
.cardMedioSpiderGirl{
  position: absolute;
  top: 155px;
  left: -18px;
}
.cardInferiorSpiderGirl{
  position: absolute;
  top: 340px;

}

.capaBase{
  z-index: -1;
}

.capaUno{
  z-index: 0;
}
.capaDos{
  z-index: 1;
}
.capaTres{
  z-index: 2;
}
.capaCuatro{
  z-index: 3;
}
.capaCinco{
  z-index: 4;
}
.capaSeis{
  z-index:5
}
.capaSiete{
  z-index: 6;
}
.capaOcho{
  z-index: 7;
}

.tituloSeccionSeis{
  margin-bottom: 60px;
  font-size: 60px;
  font-family: Lato;
  font-weight: 600;
  line-height: 94.5%; /* 56.7px */
}

.seccionUno{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 920px;
  background-image: url(../imgs/backgrondSeccionUno.png);
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  top: 70px;
}
  .centrador{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .capa1S1{
    width: 100%;
    
  }
    .backgrondSeccionUno{
      width: 100%;
    }

  .capa2S1{
    position: relative;
    top: 0px;
    transform: translate(0, 0%);
    transition: top 0.8;
    width: 100%;
  }

    .imagenEdificioIzquierda{
      position: absolute;
      padding: 0;
      margin: 0;
      width: 700px;
      left: -145px;
      top: -50px;
    }
    .imagenEdificioCentro{
      position: absolute;
      width: 630px;
      left: 530px;
      top: 620px;
      transform: translate(0, 0%);
      transition: top 0.8;
    }
    .imagenEdificioDerecha{
      position: absolute;
      overflow: hidden;
      width: 400px;
      top: 90px;
      right: -10px;
      
    }
  .capa3S1{
    width: 100%;
    height: 100%;
    
  }
  .imgSpider{
    position:absolute;
    right: 28% ;
    top: 318px; 
  } 
  .imgSpiderBlack{
    position:absolute;
    right: 6%;
    top: 250px;
  }
  .imgSpiderGirl{
    left: -1%;
    position:absolute;
    top: 300px;
  }
  .spiderSeccionOcho{
    position:absolute;
    top: 40px;
    left: 300px;
  } 
  .spiderBlackSeccionOcho{
    position:absolute;
    top: 40px;
    right: 40px;
    
  }
  .spiderGirlSeccionOcho{
    position:absolute;
    top: 40px;
    left: 40px;

  }
  .telaraniaIzquierdaUno{
    width: 900px;
    position: absolute;
    left: -410px;
    top:225px;
  }
  .telaraniaDerechaSeccionUno{
    width: 600px;
    position: absolute;
    right: -420px;
    top: 235px;
  }
.capa4S1{
  
}

.seccionDos{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 900px;
  width: 100%;
  height: 940px;
  background-color: #8F6AA6;
  /* background-image: url(../imgs/background2.png); */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

  .textoSeccion2{
    width: 490px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
  }
  .tituloSeccionDos{
    width: 600px;
    color: #FFF;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; 
    
  }
  .imagenCuadradaSeccionDos{
    position: absolute;
  }
  .duendeSeccionDos{
    position: absolute;
    top: 0px;
    right: -100px;
    transform: translate(0, 0%);
    transition: top 0.8;
  }
.seccionTres{
  display: flex;
  position: absolute;
  width: 100%;
  top: 1670px;
  height: 1085px;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
}
.seccionCuatro{
  position: absolute;
  top: 2690px;
  width: 100%;
  height: 566px;
  background-image: url(../imgs/backSeccionCuatro.png);
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
}
.seccionCinco{
  position: absolute;
  top: 3185px;
  width: 100%;
  height: 1000px;
  background-color: black;
  clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);
}
.seccionSeis{
  position: absolute;
  top: 4040px;
  width: 100%;
  height: 2194.5px;
  background-color: rgb(255, 255, 255);
  clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 100%);
}
.seccionSiete{
  position: absolute;
  top: 6200px;
  width: 100%;
  height: 500px;
  background-color: rgb(0, 0, 0);
  clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
}
.seccionOcho{
  position: absolute;
  top: 6570px;
  width: 100%;
  height: 720px;
  background-color: white;
  clip-path: polygon(0% 17%, 100% 0%, 100% 100%, 0% 100%);
}
.seccionNueve{
  position: absolute;
  top: 7280px;
  width: 100%;
  height: 1296px;
  background-image: url(../imgs/backSeccionNueve.png);
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
  .edificioSeccionNueve{
    margin-top: 575px;
    width: 100%;
  }
  .spidermanSeccionNueve{
    position: absolute;
    top:950px;
    right: 65px;
  }
  .spidermanBlancoSeccionNueve{
    position: absolute;
    top: 1060px;
    left: 430px;
  }
  .spidermanNegroSeccionNueve{
    position: absolute;
    top: 1123px;
    left: 100px;
  }
.footer{
  position: absolute;
  top: 8575px;
  width: 100%;
  height: 678px;
  background-color: #5E5E5D;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.headerFooter{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #242424;
}
.headerFooter img{
  width: 1080px;
}
.contenidoFooter{
  margin-top: 28px;
  width: 1080px;
  padding: 0px;
}
.contenidoFooter img{
  margin-left: 0px;
  margin-top: 30px;
}
.imgRedes{
  text-decoration-line: underline;
  margin-right: 10px;
}
.contenidoFooter p{
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #FFF;
  width: 820px;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 18.9px */
  letter-spacing: 2.2px;
}
.header{
  display: flex;
  position:fixed;
  z-index: 1000;
  /* justify-content: space-evenly; */
  width: 100%;
}
.img-header{
  height: 70px;
}
.img-header img{
  width: 100%;
  height: 100px;
}
.logo{
  position: absolute;
  left: 350px;
  top:250px;
  transform: translate(0, -50%);
  transition: width 0.8s, top 0.8s,left 0.8s;
}
.headerIzquierda{
  display: flex;
  justify-content: start;
  width: 50%;
}
.headerDerecha{
  display: flex;
  justify-content:end;
  width: 50%;
}
.menuHamburguesa{
  margin-left: 90px;
  margin-top: 20px;
  width: 45px;
  height: 40px;
  cursor:pointer;
}
.botonHeader{
  cursor:pointer;
  margin-right:90px ;
  margin-top: 20px;
}