
body{
    border: 0%;
    background-color: #280044;
    color: aliceblue;
}
header{
    border: 3px black solid;
    margin: 1px;
   text-align: center;
}
section{
    border: 3px black solid;
    margin: 1px;
    text-align: center;
}

.content{
    display: flex;
   
    
}
.logo{
    flex-direction: center;
    display: flex;
    flex-wrap:nowrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.form{
    border: 3px black solid;
    margin: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
}
.campos{
    background-color: #0E0E11;
    border-radius: 8.8%;
    height: 350px;
}